/* index page only */
@media (min-width: 768px) {
    .row > .overview-img {
        width: 32%;
        margin: 0 1%;
        text-align: center;
    }

    .row > .overview-text {
        width: 66%;
    }
    
    #banner img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
    
    .overlay {
        top: 20%;
        height: 60%;
    }
    
    .highlight-box {
        display: inline-block;
        width: 28%;
        text-align: left;
        margin: 0 auto;
    }
}

@media (max-width: 767px) {
    .row > .overview-img {
        width: 100%;
        text-align: center;
    }

    .row > .overview-text {
        width: 100%;
    }  
    
    #banner img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    
    .overlay {
        top: 10%;
        height: 70%;
    }
    
    .highlight-box {
        margin: auto;
        width: 100%;
    }
}

#banner {
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding-top: 60px;
    margin:  0 auto;
    padding: 0px 20px;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.2); 
    width: 95%;
    opacity:1;
    text-shadow: 1px 1px #046595;
    font-size: 20px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    max-width: 1200px;
}
 
.overview-img > img {
    width: 90%;
    padding: 0px auto;
    border-radius: 10px;
}

.trio > img, .trio-center > img {
    border-radius: 10px;
}
 
.highlight-box{
margin: 10px;
padding: 10px;
}

.overlay > h1, .overlay > h2, .overlay > h3 {
    color: #fff;
    text-align: center;
}  